<div *ngFor="let comment of comments" class="container-principal">
    <div class="container-post">
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-post__name-profile">
                    {{ comment.nameSender }}
                </div>
                <p class="container-post__time">Hace 45 minutos</p>
                <p class="container-post__comments">
                    {{ comment.message }}
                </p>
            </div>
            <div class="cell small-6 container-post__like-post">
                {{ comment.reactions }} likes
            </div>
            <div class="cell small-6 text-right container-post__comment-post">
                {{ comment.commentsChild }} comentarios
            </div>
        </div>
        <div class="grid-x container-post__container-reaction">
            <div class="cell small-6 container-post__text-reaction">
                <button> Reaccionar </button>
                <div class="container-post__text-reaction__icons-reaction">
                    <img src="../../../../assets/images/like.svg" alt="">
                    <img src="../../../../assets/images/happy.svg" alt="">
                    <img src="../../../../assets/images/love.svg" alt="">
                    <img src="../../../../assets/images/crying.svg" alt="">
                    <img src="../../../../assets/images/sad.svg" alt="">
                    <img src="../../../../assets/images/boring.svg" alt="">
                </div>
            </div>
            <div class="cell small-6 text-right container-post__text-reaction">
                <button> Comentar </button>
                
            </div>
        </div>
    </div>
    <div class="container-comment" style="display: none;">
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-comment__name-profile">
                    Elena Perez
                </div>
                <p class="container-comment__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="container-comment__time">Hace 45 minutos</p>
            </div>
        </div>
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-comment__name-profile">
                    Francisco Gomez
                </div>
                <p class="container-comment__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="container-comment__time">Hace 45 minutos</p>
            </div>
        </div>
    </div>
    <div class="container-box">
        <div class="container-box__container-publish">
            <input type="text" 
                   class="container-box__publish"
                   placeholder="Escribe un comentario">
        </div>
        <div class="text-center margin-top-1">
            <button class="container-box__button-publish">Publicar</button>
        </div>
    </div>
</div>