<div class="container-principal">
    <div class="container-post">
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-post__name-profile">
                    Liliana Jimenez
                </div>
                <p  class="container-post__time">Hace 45 minutos</p>
                <p class="container-post__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="cell small-6 container-post__like-post">
                13 likes
            </div>
            <div class="cell small-6 text-right container-post__comment-post">
                3 comentarios
            </div>
        </div>
        <div class="grid-x container-post__container-reaction">
            <div class="cell small-6 container-post__text-reaction">
                Reaccionar
            </div>
            <div class="cell small-6 text-right container-post__text-reaction">
                Comentar
            </div>
        </div>
    </div>
    <div class="container-comment">
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-comment__name-profile">
                    Elena Perez
                </div>
                <p class="container-comment__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p  class="container-comment__time">Hace 45 minutos</p>
            </div>
        </div>
        <div class="grid-x margin-bottom-1">
            <div class="cell small-1">
                img
            </div>
            <div class="cell small-11">
                <div class="container-comment__name-profile">
                    Francisco Gomez
                </div>
                <p class="container-comment__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p  class="container-comment__time">Hace 45 minutos</p>
            </div>
        </div>
    </div>
</div>

