<div class="container-principal">
    <div class="container-post">
        <div class="grid-x margin-bottom-1">
            <div class="cell small-2 medium-1 container-post__box-image-profile">
                <img class="container-post__image-profile" src="../../../../assets/images/comments/profile1.svg" alt="">
            </div>
            <div class="cell small-10 medium-11">
                <div class="container-post__name-profile">
                    {{ comment.nameSender }}
                </div>
                <p class="container-post__time">
                    {{ comment.dateFormat }}
                </p>
                <p class="container-post__comments">
                    {{ comment.message }}
                </p>
            </div>
            <div class="cell small-6 container-post__like-post">
                <ng-container *ngIf="comment.quantityReactions > 0; else elseTemplateNoLikes">
                    <div *ngFor="let userReaction of comment.reactions | slice:0:3;" class="container-post__image-reaction">
                        <img src="{{ userReaction.srcUserIcon }}" alt="">
                    </div>
			        <span class="container-post__amount-like">
		                {{ comment.quantityReactions }} likes
		            </span>
                </ng-container>
                <ng-template #elseTemplateNoLikes>
                    No tienes likes
                </ng-template>
            </div>
            <div 
            *ngIf="comment.quantityCommentsResponse > 0"
            class="cell small-6 text-right container-post__comment-post"
            (click) = "toggleAllComments()"
            >
                {{ comment.quantityCommentsResponse }} comentarios
            </div>
        </div>
        <div class="grid-x container-post__container-reaction">
            <div class="cell small-6 container-post__text-reaction">
                <button (click)="showReactions()"> 
                <ng-container *ngIf="comment.selfReaction && comment.selfReaction.name != ''; else elseTemplate">
                    <img src="{{ comment.selfReaction.srcReactionIcon }}" alt="">
                    <span class="container-post__item-text-reaction"> {{ comment.selfReaction.name }} </span>
                </ng-container>
                <ng-template #elseTemplate>
                    Reaccionar
                </ng-template>
                    
                </button>
                <div *ngIf="isVisible" class="container-post__text-reaction__icons-reaction">
                    <button (click)="processReactions('like')">
                        <img src="../../../../assets/images/comments/like.svg" alt="">
                    </button>
                    <button (click)="processReactions('happy')">
                        <img src="../../../../assets/images/comments/happy.svg" alt="">
                    </button>
                    <button (click)="processReactions('love')">
                        <img src="../../../../assets/images/comments/love.svg" alt="">
                    </button>
                    <button (click)="processReactions('crying')">
                        <img src="../../../../assets/images/comments/crying.svg" alt="">
                    </button>
                    <button (click)="processReactions('sad')">
                        <img src="../../../../assets/images/comments/sad.svg" alt="">
                    </button>
                    <button (click)="processReactions('boring')">
                        <img src="../../../../assets/images/comments/boring.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="cell small-6 text-right container-post__text-reaction">
                <button (click)="toggleNewCommentResponse()">
                    Comentar
                </button>
            </div>
        </div>
    </div>
    <div [ngClass]="{'container-comment' : isShowAllComments, 
        'container-comment-hidden' : !isShowAllComments}" class="content-comments">
        <ng-container *ngIf="isShowAllComments">
            <div *ngFor="let commentResponse of comment.commentsResponse" 
            class="grid-x margin-bottom-1">
                <div class="cell small-2 medium-1">
                    <img class="content-comments__image-profile" src="{{ commentResponse.iconSender }}" alt="">
                </div>
                <div class="cell small-10 medium-11">
                    <div class="container-comment__name-profile">
                        {{ commentResponse.nameSender }}
                    </div>
                    <p class="container-comment__comments">
                        {{ commentResponse.message }}
                    </p>
                    <p class="container-comment__time">
                        {{ commentResponse.dateFormat }}
                    </p>
                </div>
           </div>
        </ng-container>
    </div>

    <div  [ngClass]="{'container-box' : isShowAddCommentResponse, 
    'container-box-hidden' : !isShowAddCommentResponse}" class="content-publish">
        <ng-container *ngIf="isShowAddCommentResponse">
            <div class="container-box__container-publish">
                <input type="text" 
                       class="container-box__publish"
                       placeholder="Escribe un comentario"
                       [(ngModel)]="inputCommentResponse">
            </div>
            <div class="text-center margin-top-1">
                <button 
                class="container-box__button-publish"
                (click)="handlerAddNewCommentResponse(comment.id)"
                >
                Publicar
            </button>
            </div>            
        </ng-container>
    </div>
</div>