<div class="container-box">
    <div class="container-box__container-publish">
        <input type="text" 
               class="container-box__publish"
               [ngClass]="{'container-box__publish--border' : isVisible}"
               placeholder="Escribe Aquí tu estado"
               [(ngModel)]="inputPublish"
               (click)="valuechange()">
    </div>
    <div *ngIf="isVisible" class="text-center margin-top-1">
        <button class="container-box__button-publish"
                (click)="handlerAddComment()">Publicar</button>
    </div>
</div>