<div class="container-box">
    <div class="container-box__container-publish">
        <input type="text" 
               class="container-box__publish"
               [ngClass]="{'container-box__publish--border' : isVisible}"
               placeholder="Escribe Aquí tu estado"
               [(ngModel)]="inputPublish"
               (click)="valueChange()"
               maxlength="255"
               >
    </div>
    <div [ngClass]="{'container-box__template-publish-visible' : isVisible, 
                'container-box__template-publish' : !isVisible}" class="text-center">
        <button *ngIf="isVisible" class="container-box__button-publish" (click)="handlerAddComment()">
            Publicar
        </button>
    </div>
    
</div>