

<div class="grid-container margin-top-1">
    <div class="grid-x">
        <div class="cell">
            <div>
                <input type="text">
            </div>
            <div class="text-center">
                <button>Publicar</button>
            </div>
        </div>
        <div class="cell">
            <div class="grid-x">
                <div class="cell small-1">
                    img
                </div>
                <div class="cell small-11">
                    <div>
                        Liliana Jimenez
                    </div>
                    <p>Hace 45 minutos</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="cell">
                    13 likes
                </div>
            </div>
        </div>

    </div>
</div>
