<div class="container-post">
    <div class="grid-x margin-bottom-1">
        <div class="cell small-1">
            img
        </div>
        <div class="cell small-11">
            <div class="container-post__name-profile">
                Liliana Jimenez
            </div>
            <p  class="container-post__time">Hace 45 minutos</p>
            <p class="container-post__comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="cell small-6 container-post__name-profile">
            13 likes
        </div>
        <div class="cell small-6 text-right container-post__name-profile">
            3 comentarios
        </div>
    </div>
    <div class="grid-x container-post__container-reaction">
        <div class="cell small-6 container-post__text-reaction">
            Reaccionar
        </div>
        <div class="cell small-6 text-right container-post__text-reaction">
            Comentar
        </div>
    </div>
</div>

